- product_name, qty = @remaining_product
- if qty.zero?
  alert("Product [#{product_name}] was removed from your cart.");
- else
  alert("Your cart contains now #{qty} x product [#{product_name}].");
